BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false

ContinuationIndentWidth: 4
